body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Container Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2%;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    color: #45a049;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
/* Section titles */
.container .section-title {
    font-size: 1.5rem;
    color: #747474;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.description {
    font-size: 1rem;
    color: #b3b6b6;
}

.list {
    list-style: disc; /* Asegura que los puntos se muestren */
    padding-left: 1.5rem; /* Agrega espacio a la izquierda para los puntos */
    margin-bottom: 1rem; /* Espaciado entre listas */
}

.list li {
    font-size: 1rem;
    color: #2c3e50;
    margin-bottom: 0.5rem;
    position: relative;
    display: list-item; /* Asegura que se comporte como un elemento de lista */
    list-style-position: inside; /* Los puntos estarán dentro del área de contenido */
}

/* Code Block Styles */
.code-block {
    background-color: #f4f4f4;
    padding: 0.6rem;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    overflow-x: auto;
    color: #2c3e50;
    margin-top: 0.5rem;
}

/* Button Styles */
.button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 2px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
